@media(max-width: 693px) {

  .tituloUp {
    @include fontSize(40px);
  }

  .tituloUp1 {
    @include fontSize(40px);
  }

  .tituloUp1 {
    @include fontSize(20px);
  }

  .subContents {
    width: 99%;
    height: 200px;
  }

  #content3 .buttom{
    margin: 4% 0% 8.5% 30.313%;
  }

  #content4 h2{
    @include fontSize(30px);
  }

  #content4 p{
    @include fontSize(12px);
  }

  #subsub1 {
    width: 100%;
    margin-right: 0%;
    padding-top: 190.300%;
  }

  #subsub1:hover {
    padding-top: 180%;
    .subsubsub1 {
      display: block;
    }
  }

  #subsub2 {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  #subsub2 #subcoffe:hover {
    padding-top: 45%;
    .subsubsub1 {
      display: block;
    }
  }

  #subsub2 #subcoffe .subsubsub1 {
    @include fontSize(10px);
  }

  #subsub2 #subcoffe .subsubsub1 a {
    color: $black;
  }

  #subsub2 #sublentes:hover {
    padding-top: 45%;
    .subsubsub1 {
      display: block;
    }
  }

  #subsub2 #sublentes .subsubsub1 {
    @include fontSize(10px);
  }

  #subsub2 #sublentes .subsubsub1 a {
    color: $black;
  }

  #content5 .buttom {
    margin: 8% 0% 8.5% 26.813%;
  }

  #content5 .buttom a {
    padding: 2.25% 3.875% 2.25% 3.875%;
  }

  #prefooter div {
    float: left;
    width: 100%;
  }

  #prefooter .listado {
    width: 100%;
  }

  #prefooter ul li {
    padding-bottom: 1.188%;
  }

  #prefooter .title1 {
    padding-top: 20.063%;
    padding-bottom: 10.063%;
  }

  #prefooter .title2 {
    padding-top: 20.063%;
    padding-bottom: 15.063%;
  }

  #prefooter #suscri .title2 {
    padding-top: 20.063%;
    padding-bottom: 10.063%;
    margin-left: 8%;
    font-weight: 700;
  }

  #suscri p {
    color:$black;
    margin-left: 8%;
  }

  #suscri input {
    margin-left: 8%;
  }
  #suscri .buttom {
    width: 80%;
    margin-left: 8%;
  }
  #suscri .buttom a {
    padding: 3.75% 6.688% 3.75% 6.688%;
  }

  #footer ul li {
    float: left;
    margin-left: 1%;
  }

}
