#content {
  padding-top: 5.438%;
}

.tituloUp {
  padding:0% 34.188% 0% 34.125%;
  font-size : 60px;
  font-family: $tipografia;
  font-weight: 200;
}

.tituloUp1 {
  padding:0% 33.063% 0% 32.813%;
  font-size: 60px;
  font-family: $tipografia;
  font-weight: 700;
  margin-bottom: 2.938%;
}

.tituloUp2 {
  font-family: $tipografia;
  font-weight: 600;
  font-size : 20px;
  padding: 0% 29.75% 0% 29.75%;
  text-align: center;
  margin-bottom: 2.75% ;
}

#content .line {
  width: 5.188%;
  height: 1px;
  background-color: $black;
  margin: 0% 47.313% 3.75% 47.438%;
}

.parrafo{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 0% 18.75% 0% 20%;
  text-align: center;
  margin-bottom: 2.75%;
}

#content2 {
  max-width: 100%;
  margin-top: 6.188%;
  background-color: $pink;
}

#content2 img{
  display: block;
}

#down {
  float: left;
  width: 50%;
  height: 100%;
  background-color: $pink;
  font-family: $tipografia;
}

.subContent.imagen img {
  width: 100%;
  height: 100%;
}

#down #parrafo2 {
  font-weight: 700;
  font-size:  36px;
  padding: 8.563% 25.563% 12.125% 12.25%;
  text-align: start;
}

#down #parrafo3 {
  font-weight: 300;
  font-size: 36px;
  padding: 0% 25.563% 8.438% 12.25%;
  text-align: start;
}

#down #imagen {
  padding: 0% 39.813% 14.600% 12.25%;
}

#content3 {
  padding-top: 8.313%;
}

#content3 h2 {
  font-family: $tipografia;
  font-weight: 700;
  font-size: 60px;
  padding: 0% 0% 0% 5.25%;
}

#content3 .line {
  width: 5.188%;
  height: 1px;
  background-color: $black;
  margin: 2.5% 88.438% 5.813% 5.25%;
}

#subContainer h4 {
  font-family: $tipografia;
  font-weight: 700px;
  font-size: 30px;
  text-transform: uppercase;
}

#subContainer h4 {
  padding:2.688% 8.813% 2.688% 6.100%;
}

.subContents {
  width: 49.8%;
  float: left;
  border: solid 1px $gray;
}

.subContents p {
  padding:0% 22.813% 2.688% 6.100%;
}

.some {
  padding-bottom:0.625%;
}

.some2 {
  padding-bottom: 2.224%;
}

#content3 .style {
  font-weight: 400;
  color: $gray2;
}

#content3 .buttom {
  margin: 4% 12% 8.5% 43.313%;
}

#content3 .buttom a {
  text-decoration: none;
  text-align: center;
  font-family: $tipografia;
  font-weight: 700;
  font-size: 20px;
  color: $black;
  border: solid 1px $black;
  padding: 2.25% 3.875% 2.25% 3.875%;
}

#content3 .buttom a:hover {
  color: $white;
  background-color: $black;
}

#content4 {
  background-image: url("../../img/manos.png");
  background-size: cover;
}

#content4 h2 {
  color: $white;
  font-size: 60px;
  text-align: center;
  font-family: $tipografia;
  padding: 200px 370px 62px 370px;
}

#content4 p {
  color: $white;
  font-size: 20px;
  font-weight: 400;
  font-family: $tipografia;
  padding: 0px 612px 170px 636px;
}

#content4 p a {
  color: $white;
}
