#footer {
  background-color: $posters;
}

.contenidoFooter {
  padding-top: 38px;
  padding-bottom: 38px;
  padding-right: 5%;
  padding-left: 5%;
  font-size: 16px;
}

.contenidoFooter p {
  color: $black;
  float: left;
  margin-right: 414px;
}

.contenidoFooter ul {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contenidoFooter ul li {
  float: left;
  margin-left: 34px;
}
