.header {
  max-width: 100%;
  background-image: url("../../img/Oso.jpg");
  background-size: cover;
  position: relative;
}

.header {
  max-width: 100%;
  padding: 3.125% 0% 52.563% 0%;
}

.nav h2 {
  float: left;
}

.nav h3 {
  float: right;
}

.header #titulo {
  margin-left: 11%;
  margin-top: 1%;
}

.nav h2 a {
  background-color: $black;
  color: $white;
  padding: 21px 27px;
  margin-right: 945px;
  font-family:  $tipografia2;
  text-decoration: none;
  text-transform: uppercase;
}


.points {
  color: black;
  font-size: 9rem;
  text-align: center;
  margin-top: 5.625%;
  padding-bottom: 5.812%;
  margin-bottom: 4.437%;
}

.points span {
  color: white;
}

.header #menu {
  margin-right: 11%;
  margin-top: 1%;
}

.nav h3 a {
  margin-top: 23px;
  color: $white;
  border-top: solid 2px $white;
  border-bottom: solid 2px $white;
  font-family:  $tipografia2;
  text-decoration: none;
  text-transform: uppercase;
}

.nav h3 a:hover {
  color: $black;
  border-color: $black;
}

.contentImg  {
  padding-left: 600px;
  padding-top: 120px;
}

.contentImg h1 {
  @include fontSize(200px);
  color: $white;
  font-family:$tipografia;
  font-weight: 100;
  margin-bottom: 0;
  text-align: center;
}

.contentImg p {
  font-family: $tipografia;
  @include fontSize(88px);
  color: $white;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.modal {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal ul {
padding-top: 5.313%;
}

.modal ul li {
padding-top: 2.188%;
padding-left: 18.75%;
}

.modal li a {
font-family: $tipografia2;
color: $gray2;
text-decoration: none;
@include fontSize(46px);
}

.modal li a:hover {
color:$white;
text-decoration: underline;
}

.close {
float: right;
margin-top: 1%;
margin-right: 9%;
@include fontSize(28px);
font-weight: bold;
}

.close a {
font-family: 'Montserrat', sans-serif;
font-weight: 100;
color: $gray2;
text-align: center;
padding: 30%;
text-decoration: none;
}

.close a:hover {
color: $white;
}

.ocultar {
display: none;
}
